@model IEnumerable<FinalProject.Models.Mod>

<h2 class="mb-3">Mods</h2>

<table class="table table-hover table-striped bg-white shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Author</th>
            <th>Date</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var mod in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details"
                       asp-route-id="@mod.Id"
                       class="fw-bold text-decoration-none">
                        @mod.Name
                    </a>
                </td>
                <td>@mod.Description</td>
                <td>@mod.Author</td>
                <td>@mod.ReleaseDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>